<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

  <display-name>Aplikasi Latihan</display-name>
  <description>
     Aplikasi untuk latihan saja
  </description>
  
  <servlet>
      <servlet-name>
          FormBarangServlet
      </servlet-name>
      <servlet-class>
          com.acepabdurohman.belajar.servlet.FormBarangServlet
      </servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>
          FormBarangServlet
      </servlet-name>
      <url-pattern>
          /simpan
      </url-pattern>
  </servlet-mapping>

  <welcome-file-list>
      <welcome-file>
          index.html
      </welcome-file>
  </welcome-file-list>
</web-app>
